<% size = ((slot['to'] - slot['from']) / (15 * 60)).floor %>
<div class="program-slot program-slot-size-<%= size %> program-slot-type-<%= slot['type'] %>">
  <% if slot['type'] != 'empty' %>
    <div class="program-slot-inner">
      <h3><%= slot['title'] %></h3>
      <% if slot['speaker'] && size > 1 %>
        <p class="speaker"><%= slot['speaker'] %></p>
      <% end %>
    </div>
    <% if slot['description'] || (slot['speaker'] && size < 2) %>
      <div class="program-slot-expanded"><div class="program-slot-expanded-inner"><div class="program-slot-expanded-content">
        <h3><%= slot['title'] %></h3>
        <p class="speaker">
          <%= (Time.new(2015, 4, 30, 0 , 0, 0) + slot['from']).strftime('%k:%M') %> - <%= (Time.new(2015, 4, 30, 0 , 0, 0) + slot['to']).strftime('%k:%M') %>
          <%= slot['speaker'] ? " &mdash; #{slot['speaker']}" : '' %>
        </p>
        <p><%= slot['description'] %></p>
      </div></div></div>
    <% end %>
  <% end %>
</div>