---
title: "Informatie"
---

<section class="white intro"><div class="section-inner">
  <div class="intro">
    <h1>Hét Drupal evenement van de Lage Landen</h1>
    <p class="intro">
      DrupalJam is het jaarlijks evenement over het populaire webcontent management systeem Drupal. Ruim 350 professionals, ontwikkelaars, ondernemers en geïntresseerden uit Nederland en België komen samen voor inspiratie, netwerken en delen van kennis en code!
    </p>
  </div>

  <%= partial 'shared/sponsors', locals: {sponsor_type: 'gold' } %>

  <div class="intro">
    <p>
      DrupalJam 2015 heeft dit jaar een koninklijke datum én opnieuw een fantastische locatie! Hét Drupal evenement van de lage landen vindt plaats op <strong>30 April 2015</strong> in <strong><a href="http://defabrique.nl/" target="_blank">De Fabrique</a> in Utrecht</strong>, een inspirerende en creatieve locatie, met een industriële look en alle faciliteiten die we ons wensen.
    </p>
    <p>
      Wil je op dit prachtige evenement je bedrijf in het zonnetje zetten en een bijdrage leveren aan de organisatie? Wil je er samen met de bezoekers een nog gaver evenement van maken? Download hier onze sponsorbrochure waarin de mogelijkheden uitgebreid uit de doeken gedaan worden.
    </p>
    <a href="<%= url_for '/sponsorbrochure/Sponsoring DrupalJam 2015 1.8.pdf' %>" class="button" target="_blank"><span>Sponsor­brochure</span></a>
  </div>

  <%= partial 'shared/sponsors', locals: {sponsor_type: 'silver' } %>
</div></section>

<section class="main content"><div class="section-inner">
  <h1>Programma</h1>
  <p class="intro">
    Drupal bedenker en internationaal ondernemer Dries Buytaert, Marco Derksen (Marketingfacts) en Bruce Lawson (Opera) maken deel uit van het diverse programma. Verder zullen veel technische Drupal insights online technologiën als Docker, Vagrant, Grunt, Gulp, Ansible, Angular en Ember aan de orde komen. Daarnaast hebben we een aantal featured tracks welke in het teken staan van modules van eigen bodem. 
  </p>
  <p>
    We willen we ook heel graag jouw verhaal horen. Heb je een onderwerp waar je graag iets over wilt vertellen? Laat het ons weten! We hebben veel ruimte in het programma beschikbaar. Je kunt je sessie nog insturen tot 1 april 2015 23:59 CET.
  </p>

  <a href="<%= url_for('sessies.html') %>" class="button"><span>Sessie aanmelden</span></a>
</div></section>

<section class="white content kart"><div class="section-inner">
  <div class="section-content">
    <h1>Kart­toernooi</h1>
    <p class="intro">
      Als concurrerende Drupal bedrijven komen we elkaar natuurlijk regelmatig tegen in offerte-trajecten. Het leek ons goed om ook eens op een andere manier de strijd met elkaar aan te gaan. Daarom organiseren we als afterparty voor Drupaljam een karttoernooi. Hét <em>Drupal Karttoernooi 2015</em>, om precies te zijn. 
    </p>

    <a href="<%= url_for('kart.html') %>" class="button"><span>Meer informatie</span></a>

    <%= partial 'shared/sponsors', locals: {sponsor_type: 'bronze' } %>
  </div>
</div></section>